.container{
    background: white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    width: 100%;
    height: 300vh;

}
.navbar_1{
    display: flex;
    align-items: center;
    background:#7091E6;
    padding: 10px 7%;
}

.logo{
    width: 35px;
    cursor: pointer;
    margin-left: -20px;
    margin-top: -10px;
}

.logo_text{
    color: white;
    padding-left: 10px;
    margin-top: 10px;
    
}

.text{
    color: black;
    padding-top: 10px;
}

.container_1{
    display: flex;
    flex-direction: column;
    background: white;
    width: 800px;
    border: 5px solid #7091E6;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 1rem;
    margin: auto;   
}

.container_1 h1{

    text-align: center;
}

.container_1 form table{
    text-align: left;
    border-spacing: 15px;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 15px;  

}

.container_1 button{
    background: #7091E6;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    margin-left: 60px;
    width: 50%; 
    cursor: pointer;
     
}

.container_1 form input{
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}

.container_1 select{
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 96%;
    padding: 12px;
    font-size: 16px;
    text-align: center;
}


